// colour scheme
$col-1: #91a668ff;
$col-2: #48582dff;
$col-3: #9d69a3ff;
$col-4: #e85d75ff;
$col-5: #2f0a28ff;
$opacity-low: .15;
$opacity-med: .32;
$opacity-high: .7;




// general
@import "common/standard";
html, body {
    overflow: hidden;
}
body {
    background-color: $col-2;
}
td {
    word-break: break-all;
}




// mixins
@import "common/mixin";


// classes
.page-wrapper {
    height: 100vh;
}
a.link {
    transition: background-color 150ms;
}
