@import "common/standard";
@import "common/mixin";

body:not(.en) .en { display: none; }
body:not(.nl) .nl { display: none; }
body:not(.hi) .hi { display: none; }

.locale-picker {
    @include noselect();

    display: inline-block;
    position: absolute;
    z-index: 4;

    top: 0; right: 0;

    div {
        @include transition();
        padding: 0.8rem;
        float: left;

        img {
            @include transition(0.25s);
            width: 5rem;
            height: auto;
            &:hover {
                cursor: pointer;
                width: 5.8rem;
            }
            &:active {
                cursor: grab;
                width: 5.3rem;
            }


            @media only screen and (max-width: $bp-phone-max) {
                width: 3rem;
                &:hover { width: 3.8rem; }
                &:active { width: 3.3rem; }
            }

        }
    }

}
