html {
  font-size: 100%; }

html, body {
  margin: 0;
  width: 100%; }

html, body {
  overflow: hidden; }

body {
  background-color: #48582dff; }

td {
  word-break: break-all; }

.page-wrapper {
  height: 100vh; }

a.link {
  transition: background-color 150ms; }

body:not(.en) .en {
  display: none; }

body:not(.nl) .nl {
  display: none; }

body:not(.hi) .hi {
  display: none; }

.locale-picker {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0; }
  .locale-picker div {
    transition: all 300ms;
    padding: 0.8rem;
    float: left; }
    .locale-picker div img {
      transition: all 0.25s;
      width: 5rem;
      height: auto; }
      .locale-picker div img:hover {
        cursor: pointer;
        width: 5.8rem; }
      .locale-picker div img:active {
        cursor: grab;
        width: 5.3rem; }

video {
  z-index: -10;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

html {
  font-size: 100%; }

html, body {
  margin: 0;
  width: 100%; }

html, body {
  overflow: hidden; }

body {
  background-color: #48582dff; }

td {
  word-break: break-all; }

.page-wrapper {
  height: 100vh; }

a.link {
  transition: background-color 150ms; }

.hoofd {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .hoofd img {
    width: 10vw;
    height: auto;
    margin: auto; }

html {
  font-size: 100%; }

html, body {
  margin: 0;
  width: 100%; }

html, body {
  overflow: hidden; }

body {
  background-color: #48582dff; }

td {
  word-break: break-all; }

.page-wrapper {
  height: 100vh; }

a.link {
  transition: background-color 150ms; }

ul.navigator {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
  height: 7.75rem;
  backdrop-filter: blur(0.28rem);
  background-color: rgba(145, 166, 104, 0.15); }
  ul.navigator li {
    color: #9d69a3ff;
    padding: 0 1.5rem;
    overflow-wrap: break-word;
    list-style: none;
    font-size: 6rem;
    font-family: 'Poiret One', cursive;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 300ms;
    text-shadow: 0.15rem 0.15rem 0 #2f0a28ff, -0.1rem 0 #2f0a28ff, 0rem 0 #2f0a28ff, -0.05rem 0.05rem 0 #2f0a28ff, 0.05rem 0.05rem 0 #2f0a28ff; }
    ul.navigator li:hover {
      font-size: 7rem;
      cursor: grab;
      background: rgba(157, 105, 163, 0.32); }
    ul.navigator li:active {
      font-size: 5rem;
      cursor: grabbing; }
    @media only screen and (max-width: 47.99938rem) {
      ul.navigator li {
        font-size: 3rem; }
        ul.navigator li:hover {
          font-size: 3.5rem; }
        ul.navigator li:active {
          font-size: 2.5rem; } }

html {
  font-size: 100%; }

html, body {
  margin: 0;
  width: 100%; }

html, body {
  overflow: hidden; }

body {
  background-color: #48582dff; }

td {
  word-break: break-all; }

.page-wrapper {
  height: 100vh; }

a.link {
  transition: background-color 150ms; }

.section#section-welcome {
  backdrop-filter: none;
  background: none;
  width: unset;
  margin: auto; }
  .section#section-welcome > span {
    padding: 0.75rem; }
  .section#section-welcome .text-title {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section#section-welcome .text-title span {
      transition: all 300ms; }
      .section#section-welcome .text-title span:hover {
        font-size: 12rem; }
      @media only screen and (max-width: 47.99938rem) {
        .section#section-welcome .text-title span {
          font-size: 5.5rem; }
          .section#section-welcome .text-title span:hover {
            font-size: 7.5rem; } }

.section#section-contact .inner table tr {
  font-size: 3rem; }

.text-title {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Fredericka the Great';
  font-weight: normal;
  font-size: 10rem;
  text-shadow: 0.15rem 0.15rem 0 #2f0a28ff, -0.1rem 0 #2f0a28ff, 0rem 0 #2f0a28ff, -0.05rem 0.05rem 0 #2f0a28ff, 0.05rem 0.05rem 0 #2f0a28ff;
  color: #9d69a3ff; }

a.link {
  transition: background-color 150ms; }
  a.link:hover {
    background-color: rgba(157, 105, 163, 0.32); }

::selection {
  color: #9d69a3ff;
  background-color: #2f0a28ff; }

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 7.75rem);
  margin: auto; }
  .section-wrapper .section {
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms;
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 2rem;
    color: #9d69a3ff;
    text-shadow: 0.15rem 0.15rem 0 #2f0a28ff, -0.1rem 0 #2f0a28ff, 0rem 0 #2f0a28ff, -0.05rem 0.05rem 0 #2f0a28ff, 0.05rem 0.05rem 0 #2f0a28ff;
    backdrop-filter: blur(0.43rem);
    background-color: rgba(145, 166, 104, 0.15);
    border-radius: 0.5rem;
    min-height: 60vh;
    width: 61.8vw; }
    .section-wrapper .section.active {
      opacity: 1;
      pointer-events: all; }
    .section-wrapper .section a {
      color: #9d69a3ff; }
    .section-wrapper .section .inner {
      width: 100%;
      padding: 2.5rem;
      text-align: justify; }
      .section-wrapper .section .inner table {
        margin: 0;
        width: 100%; }
        .section-wrapper .section .inner table tr td:nth-child(2) {
          text-align: right; }
    @media only screen and (max-width: 47.99938rem) {
      .section-wrapper .section {
        width: 100vw; } }
