<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="description" content="AirRPG - browser game">
        <meta name="keywords" content="AirRPG Free HTML5 Game Platformer Action">
        <meta name="author" content="Maxim van Dijk">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <meta charset="utf-8"/>
        <title>AirRPG HTML5 Port</title>

        <link rel="stylesheet" href="<%-baseUrl%>/css/air-rpg.css"/>
    </head>

    <body><div class="body-wrapper">
        <div class="gameDivClass" id="gameDivId">
            <canvas id="canvas" width="480" height="320">
               <p>😢 Your browser doesn't support HTML5 canvas 😢</p>
            </canvas>
        </div>

        <script type="text/javascript" src="js/air-rpg/air-rpg.js?HOAYB=1739131621"></script>
        <script type="text/javascript" src="js/air-rpg/boot.js"></script>
    </div></body>
</html>
