<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Sanskrit dictionary plugin">
        <meta name="keywords" content="Sanskrit Translate Translator Dictionary Extension Plugin">
        <meta name="author" content="Maxim van Dijk">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>simplySanskrit</title>

        <link href="https://fonts.googleapis.com/css2?family=Yatra+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/simply-sanskrit.css"/>
    </head>
    <body class="en">
        <div class="page-wrapper">
            <div class="page">
                <div>
                    <div>
                        <h1>simplySanskrit ॐ</h1>
                        <h2>Translate, phoneticise, pronounce.</h2>
                        <div><img id="scroll-btn" src="img/simply-sanskrit/arrow-down.svg" draggable="false"/></div>
                    </div>
                </div>

            </div>
            <div class="page" id="demo"><div>

                <h3>A Chrome plugin that translates and pronounces Sanskrit.</h3>
                <p><i>Select some text to try it out!</i></p>
                <p>
                    अथ योगानुशासनम् ॥ १.१॥<br>
                    योगश्चित्तवृत्तिनिरोधः ॥ १.२॥<br>
                    तदा द्रष्टुः स्वरूपेऽवस्थानम् ॥ १.३॥<br>
                    वृत्तिसारूप्यमितरत्र ॥ १.४॥<br>
                    वृत्तयः पञ्चतय्यः क्लिष्टाऽक्लिष्टाः ॥ १.५॥<br>
                    प्रमाणविपर्ययविकल्पनिद्रास्मृतयः ॥ १.६॥<br>
                    प्रत्यक्षानुमानागमाः प्रमाणानि ॥ १.७॥<br>
                    विपर्ययो मिथ्याज्ञानमतद्रूपप्रतिष्ठम् ॥ १.८॥<br>
                    शब्दज्ञानानुपाती वस्तुशून्यो विकल्पः ॥ १.९॥<br>
                </p>
                <p>
                    <a href="https://github.com/vananasun/simplySanskrit/">Download simplySanskrit.</a>
                </p>
            </div></div>
        </div>

        <script src="js/simply-sanskrit.min.js"></script>
        <script src="js/simplySanskrit/plugin/build/js/third-party/jquery-3.5.1.slim.min.js"></script>
        <script src="js/simplySanskrit/plugin/build/js/plugin.min.js"></script>
        <script src="js/simplySanskrit/plugin/build/js/content.min.js"></script>
    <body>
</html>
