<div class="section" id="section-projects">
    <div class="inner">
        <span class="nl">
            <p>Dit zijn een aantal van mijn projecten (in chronologische volgorde van recent naar gedateerd):</p>

            <table>
                <tr>
                    <td><a href="https://github.com/vananasun/easySanskrit">easySanskrit</a></td>
                    <td>Sanskriet vertaler extensie voor Google Chrome</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/vananasun/vVRC7">vVRC7</a></td>
                    <td>YamahaYM2413 & NES VRC7 Geluidschip emulator VST</td>
                </tr>
                <tr>
                    <td><a href="airrpg/">jsAirRPG</a></td>
                    <td>Een actie-RPG videogame in de browser</td>
                </tr>
                <tr>
                    <td><a href="synth/">WebGL synth</a></td>
                    <td>Online synthesizer die gebruik maakt van grafische kaart</td>
                </tr>
                <tr>
                    <td><a href="https://bouteagle.ace-games.com">BoutEagle</a></td>
                    <td>MMO-game waar ik aan heb meegewerkt</td>
                </tr>

            </table>
        </span>
        <span class="en">
            <p>These are a bunch of my projects (in chronological order from recent to old):</p>

            <table>
                <tr>
                    <td><a href="https://github.com/vananasun/easySanskrit">easySanskrit</a></td>
                    <td>Sanskriet translator extension for Google Chrome</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/vananasun/vVRC7">vVRC7</a></td>
                    <td>YamahaYM2413 & NES VRC7 Soundchip emulator VST</td>
                </tr>
                <tr>
                    <td><a href="airrpg/">jsAirRPG</a></td>
                    <td>An action-RPG videogame in the browser</td>
                </tr>
                <tr>
                    <td><a href="synth/">WebGL synth</a></td>
                    <td>Online synthesiser that makes use of the graphics card</td>
                </tr>
                <tr>
                    <td><a href="https://bouteagle.ace-games.com">BoutEagle</a></td>
                    <td>MMO-game that I have developed with some others</td>
                </tr>

            </table>
        </span>
    </div>
</div>
