<div class="section" id="section-about">
    <div class="inner">
        <span class="nl">
            <b>$groet,</b> ik ben Maxim,<br>Ik ben $leeftijd jaar, èèènn...<br>
            <br>
            ...Ik hou van elegante software.<br>
            <br>
            Ook houd ik van muziek creëren <a class="link" href="synth/">en daarvoor schrijf ik ook software</a>.<br>
            <br>
            Verder hoop ik dat je $dia goed gaat. 😊
        </span>
        <span class="en">
            <b>$groet,</b> I am Maxim,<br>I am $leeftijd years old, aandd...<br>
            <br>
            ...I love writing elegant software.<br>
            <br>
            I also love creating music <a class="link" href="synth/">and for that I also write software</a>.<br>
            <br>
            Also, I hope you're having a great $dia. 😊
        </span>
    </div>
</div>
