@import "common/base";



@mixin position-bottom() {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
}


ul.navigator {

    @include position-bottom();

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.75rem 0;
    min-height: 7.75rem;
    backdrop-filter: blur(0.28rem);
    background-color: transparentize($col-1, 1 - $opacity-low);



    li {
        color: $col-3;
        padding: 0 1.5rem;
        overflow-wrap: break-word;
        list-style: none;
        font-size: 6rem;
        font-family: 'Poiret One', cursive;
        @include noselect();
        @include transition();
        @include text-outline();
        &:hover {
            font-size: 7rem;
            cursor: grab;
            background: transparentize($col-3, 1 - $opacity-med);
        }
        &:active {
            font-size: 5rem;
            cursor: grabbing;
        }

        // responsiveness; make the text fit
        @media only screen and (max-width: $bp-phone-max) {
            font-size: 3rem;
            &:hover {
                font-size: 3.5rem;
            }
            &:active {
                font-size: 2.5rem;
            }
        }
    }
}
