@import "common/base";

.section#section-welcome {
    backdrop-filter: none;
    background: none;

    width: unset;
    margin: auto;
    >span {
        padding: 0.75rem;
    }
    .text-title {
        @include center();
        span {
            @include transition();
            &:hover {
                font-size: 12rem;
            }
        }
    }

}


.section#section-contact {
    .inner {
        table {
            tr {
                font-size: 3rem;
            }
        }
    }
}
