@import "constants";
@import "hexagon";
@import "modal";
@import "locale";



html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    /* No scrolling */
    overflow: hidden;
    user-select: none;
}

body {
    // font-family: 'Fondamento', cursive;
    font-family: 'Eagle Lake', cursive;
}

canvas#back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
}

.page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column; // Phone
    @media (min-width: $bp-min-big) {
        flex-wrap: wrap;
        flex-direction: row;
    }


    .col {

        display: flex;
        flex-direction: column;
        @media (max-width: $bp-max-tiny) {
            flex-direction: row; // Phone
        }
        flex-basis: 100%;
        flex: 1;
    }

}





a {
    color: #f4d;
    font-style: italic;
}
