$sqrt-3: 1.7320508075688772935274463415059;

$hexagon-opacity: 0.35;
$hexagon-color-back: rgba(5,5,5,$hexagon-opacity);
$hexagon-color-hover: rgba(255,255,255,$hexagon-opacity);
$hexagon-color-active: rgba(54,54,54,$hexagon-opacity);
$hexagon-font-size: 2.7vw;//3.4vw
