$sqrt-3: 1.7320508075688772935274463415059;

$hexagon-opacity: 0.3;
$hexagon-color-back: rgba(20,5,25,$hexagon-opacity);
$hexagon-color-hover: rgba(255,255,255,$hexagon-opacity);
$hexagon-color-active: rgba(54,54,54,$hexagon-opacity);
$hexagon-font-size: 2.1vw;//3.4vw




// Device breakpoints
$bp-max-tiny: 768px;
$bp-min-big : 767px;
// 320px — 480px: Mobile devices.
// 481px — 768px: iPads, Tablets.
// 769px — 1024px: Small screens, laptops.
// 1025px — 1200px: Desktops, large screens.
// 1201px and more — Extra large screens, TV.
