@import "constants";

.clear:after {
    content: "";
    display: block;
    clear: both;
}

#grid {
    -moz-user-select: none;
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0; /* Clears unordered list default of 40px */
    // transform: translateY(-5%); // Stupid fix
    @media (max-width: $bp-max-tiny) {
        // padding-bottom: 2em;
        margin-top: 4em;
    }

    li {
        -webkit-filter: url(#psy);

        list-style-type: none;
        position: relative;
        float: left;
        width: 27.85714285714286%;
        padding: 0 0 32.16760145166612% 0;
        -o-transform: rotate(-60deg) skewY(30deg);
        -moz-transform: rotate(-60deg) skewY(30deg);
        -webkit-transform: rotate(-60deg) skewY(30deg);
        -ms-transform: rotate(-60deg) skewY(30deg);
        transform: rotate(-60deg) skewY(30deg);
        overflow: hidden;
        visibility: hidden;

        .hexagon {
            transition: all 0.23s ease-out;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $hexagon-color-back;
            -o-transform: skewY(-30deg) rotate(60deg);
            -moz-transform: skewY(-30deg) rotate(60deg);
            -webkit-transform: skewY(-30deg) rotate(60deg);
            -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);
            overflow: hidden;

            &:hover {
                cursor: pointer;
                background: $hexagon-color-hover;

                a {
                    font-size: $hexagon-font-size * 1.2;
                    @media (max-width: $bp-max-tiny) {
                        font-size: $hexagon-font-size * 0.9 * 2.5;
                    }
                    transition: all 0.23s ease-out;
                    color: #000;
                }
            }
            &:active {
                // transition: all 68ms linear;
                background: $hexagon-color-active !important;
                cursor: grab;
                a {
                    font-size: $hexagon-font-size * 0.95;
                    @media (max-width: $bp-max-tiny) {
                        font-size: $hexagon-font-size * 0.95 * 2.5;
                    }
                }
            }


            display:flex;justify-content:center;align-items:center;
            a {
                transition: all 0.25s ease-out;
                color: $hexagon-color-hover;
                font-size: $hexagon-font-size;
                font-weight: 600;
                text-transform: lowercase;
                @media (max-width: $bp-max-tiny) {
                    font-size: $hexagon-font-size * 2.5;
                }

                -webkit-text-stroke: 0.17vw white;
                -webkit-text-fill-color: black;

            }
        }


        &:nth-child(3n+2) {
          margin: 0 1%;
        }

        &:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6) {
            margin-top: -6.9285714285%;
            margin-bottom: -6.9285714285%;
            -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            transform: translateX(50%) rotate(-60deg) skewY(30deg);
        }

        &:nth-child(6n+4) {
            margin-left: 0.5%;
        }

        // Links en rechts top niet zichtbaar
        &:nth-child(1) {
            .hexagon {
                visibility: hidden;
                display: none;
            }
        }


        &#maxim {
            .hexagon{
                img {
                    width: auto;
                    height: 100%;
                    transition: all 0.4s ease-out;
                    opacity: 0;
                    &:hover {
                        opacity: 1;
                    }
                }
                &:hover {
                    background: initial;
                }
                &:active {
                    img {
                        height: 107%;
                        transition: all 0.15s ease-out;
                    }
                }
            }
        }

        &#over {

        }

        &#projecten {

        }

        &#contact {

        }


    }

    // Fix overlaps
    li * {
        visibility: visible;
    }
}
