@import "constants";



.modal {

    -webkit-filter: url(#psy);
    margin: auto;
    display: block;
    width: 80%;
    height: 80vh;
    background: $hexagon-color-back;
    border-radius: 0.1em;

    >div {
        padding: 1em 2em;
        &:not(.active) {
            display: none;
        }

        span {
            color: #fff;
            font-size: 1.8em;
        }
    }


    // Phone
    @media (max-width: $bp-max-tiny) {
        margin-bottom: 0.8em;
        height: 50vh;
        width: calc(100% - 0.8em);

        >div {
            padding: 1em 2em;
            span {
                font-size: 0.82em;
            }
        }
    }

}
